/* Estilo geral */
body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.imgur.com/Rv500de.jpg');
    background-size: cover;
    background-position: center;
}

.wrap-login {
    width: 390px;
    height: 650px;
    margin: 0 auto;
    position: relative;
}

.login-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px; /* Tamanho ajustado da logo */
}

.welcome-text {
    font-size: 30px;
    font-weight: bold;
    color: #d81b60;
    margin-top: 10px;
    display: block;
}

.login-form {
    width: 280px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d81b60;
}

input[type="email"], input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d81b60;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

button {
    background: linear-gradient(45deg, #d81b60, #c2185b);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

button:hover {
    background: linear-gradient(45deg, #c2185b, #d81b60);
}

#loginButton {
    margin-bottom: 10px;
}

#paymentButton {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#registerLink, #loginLink {
    margin-top: 20px;
    color: #d81b60;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.popup h2 {
    margin: 0;
    color: #d81b60;
}

.popup p {
    font-size: 18px;
}

.popup .button {
    background: linear-gradient(45deg, #d81b60, #c2185b);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.popup .button:hover {
    background: linear-gradient(45deg, #c2185b, #d81b60);
}

.popup .button:active {
    transform: scale(0.95);
}

/* Estilo para o formulário de registro */
.wrap-register {
    display: none; /* Inicialmente escondido */
    width: 390px;
    height: 650px;
    margin: 0 auto;
    position: relative;
}

.register-form {
    width: 280px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#togglePassword, #toggleRegisterPassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #d81b60;
}

.material-icons {
    font-size: 24px;
}
