RewriteEngine On
RewriteRule %{REQUEST_FILENAME} !-f
RewriteRule %{REQUEST_FILENAME} !-d
  
ErrorDocument 404 /view/public/404.php

#stream home
RewriteRule ^[/]{0,1}$                                                      /view/public/index.php [QSA,L]
RewriteRule ^stream[/]{0,1}$                                                /view/stream/home.php [QSA,L]

#premium
RewriteRule ^stream/premium[/]{0,1}$                                         /view/stream/premium.php [QSA,L]
RewriteRule ^mercadopago/checkout/stream_premium/([0-9]+)[/]{0,1}$    /controller/mercadopago/stream_premium.php [QSA,L]

#stream busca 
RewriteRule ^stream/busca/([a-z-A-Z-0-9-ç-à-ÿ-Á-Ÿ]+)/pagina/([0-9]+)[/]{0,1}$               /view/stream/stream_busca.php?stream_busca=$1&pagina=$2 [QSA,L]

#stream por categoria
RewriteRule ^stream/([a-z]+)/categoria/([0-9]+)/pagina/([0-9]+)[/]{0,1}$     /view/stream/stream_category.php?stream_type=$1&category_id=$2&pagina=$3 [QSA,L]

#stream info 
RewriteRule ^stream/movie/([0-9]+)[/]{0,1}$                          /view/stream/stream_play.php?stream_type=movie&stream_id=$1 [QSA,L]
RewriteRule ^stream/series/([0-9]+)/([0-9]+)[/]{0,1}$                /view/stream/stream_play.php?stream_type=series&stream_id=$1&episodio=$2 [QSA,L]
RewriteRule ^stream/live/([0-9]+)[/]{0,1}$                           /view/stream/stream_play.php?stream_type=live&stream_id=$1 [QSA,L]

#user
RewriteRule ^user/login[/]{0,1}$                                      /view/user/login.php [QSA,L]
RewriteRule ^user/cadastro[/]{0,1}$                                   /view/user/cadastro.php [QSA,L]
RewriteRule ^user/recuperar-senha[/]{0,1}$                            /view/user/recuperar_senha.php [QSA,L]
RewriteRule ^user/alterar-senha/([0-9a-zA-Z]+)[/]{0,1}$               /view/user/alterar_senha.php?recuperar_hash=$1 [QSA,L]
RewriteRule ^painel-admin/encerrar-sessao[/]{0,1}$                    /view/user/logout.php?encerrar_sessao=admin [QSA,L]
RewriteRule ^cliente/encerrar-sessao[/]{0,1}$                         /view/user/logout.php?encerrar_sessao=cliente [QSA,L]

#painel admin
RewriteRule ^painel-admin[/]{0,1}$                                     /view/painel-admin/index.php [QSA,L]
RewriteRule ^painel-admin/servidor-iptv[/]{0,1}$                       /view/painel-admin/servidor_iptv.php [QSA,L]

#painel admin site perfil
RewriteRule ^painel-admin/site/perfil[/]{0,1}$                         /view/painel-admin/site_perfil.php [QSA,L]
RewriteRule ^painel-admin/site/imagens[/]{0,1}$                        /view/painel-admin/site_imagens.php [QSA,L]
RewriteRule ^painel-admin/site/smtp[/]{0,1}$                           /view/painel-admin/site_smtp.php [QSA,L]
#painel admin premium
RewriteRule ^painel-admin/premium/listar[/]{0,1}$                     /view/painel-admin/premium_listar.php [QSA,L]
RewriteRule ^painel-admin/premium/adicionar[/]{0,1}$                  /view/painel-admin/premium_adicionar.php [QSA,L]
RewriteRule ^painel-admin/premium/editar/([0-9]+)[/]{0,1}$            /view/painel-admin/premium_editar.php?premium_id=$1 [QSA,L]

#painel admin cliente
RewriteRule ^painel-admin/cliente/adicionar[/]{0,1}$                  /view/painel-admin/cliente_adicionar.php [QSA,L]
RewriteRule ^painel-admin/cliente/listar[/]{0,1}$                     /view/painel-admin/cliente_listar.php [QSA,L]
RewriteRule ^painel-admin/cliente/perfil/([0-9]+)[/]{0,1}$            /view/painel-admin/cliente_perfil.php?user_id=$1 [QSA,L]


#painel admin cliente
RewriteRule ^painel-admin/administrador/adicionar[/]{0,1}$                  /view/painel-admin/administrador_adicionar.php [QSA,L]
RewriteRule ^painel-admin/administrador/listar[/]{0,1}$                     /view/painel-admin/administrador_listar.php [QSA,L]
RewriteRule ^painel-admin/administrador/perfil/([0-9]+)[/]{0,1}$            /view/painel-admin/administrador_perfil.php?user_id=$1 [QSA,L]

#venda
RewriteRule ^painel-admin/venda/premium/listar[/]{0,1}$                     /view/painel-admin/venda_premium.php [QSA,L]

#cliente
RewriteRule ^cliente[/]{0,1}$                                               /view/cliente/index.php [QSA,L]
RewriteRule ^cliente/perfil-selecionar[/]{0,1}$                             /view/cliente/perfil_selecionar.php [QSA,L]
RewriteRule ^cliente/pagamentos[/]{0,1}$                                    /view/cliente/pagamentos.php [QSA,L]


#RewriteRule ^super-admin/logout[/]{0,1}$ /view/user/logout.php?user_tipo=admin [QSA,L]
#RewriteRule ^super-admin/administradores/alterar-senha[/]{0,1}$ /view/super_admin/alterar_senha.php [QSA,L]
#RewriteRule ^super-admin/administradores/editar-perfil[/]{0,1}$ /view/super_admin/editar_perfil.php [QSA,L]
#RewriteRule ^super-admin/administradores/adicionar[/]{0,1}$ /view/super_admin/administradores_adicionar.php [QSA,L]
#RewriteRule ^super-admin/administradores/listar[/]{0,1}$ /view/super_admin/administradores_listar.php [QSA,L] 
#RewriteRule ^super-admin/venda/listar[/]{0,1}$ /view/super_admin/venda_listar.php [QSA,L]
#RewriteRule ^super-admin/venda/info/([0-9]+)[/]{0,1}$ /view/super_admin/venda_info.php?id=$1 [QSA,L]
#RewriteRule ^super-admin/cliente/listar[/]{0,1}$ /view/super_admin/cliente_listar.php [QSA,L]
#RewriteRule ^super-admin/cliente/adicionar[/]{0,1}$ /view/super_admin/cliente_adicionar.php [QSA,L]
#RewriteRule ^super-admin/site/smtp[/]{0,1}$ /view/super_admin/site_smtp.php [QSA,L]
#RewriteRule ^super-admin/site/iptv[/]{0,1}$ /view/super_admin/site_iptv.php [QSA,L]
#RewriteRule ^super-admin/site/perfil[/]{0,1}$ /view/super_admin/site_perfil.php [QSA,L]
#RewriteRule ^super-admin/site/imagem[/]{0,1}$ /view/super_admin/site_imagem.php [QSA,L]
#RewriteRule ^super-admin/site/mensagem[/]{0,1}$ /view/super_admin/site_mensagem.php [QSA,L]
#RewriteRule ^super-admin/site/pagina/adicionar[/]{0,1}$ /view/super_admin/site_pagina_adicionar.php [QSA,L]
#RewriteRule ^super-admin/site/pagina/listar[/]{0,1}$ /view/super_admin/site_pagina_listar.php [QSA,L]
#RewriteRule ^super-admin/site/pagina/editar/([0-9]+)[/]{0,1}$ /view/super_admin/site_pagina_editar.php?site_pagina_id=$1 [QSA,L]
#RewriteRule ^super-admin/user/perfil/([0-9]+)[/]{0,1}$ /view/super_admin/user_perfil.php?user_id=$1 [QSA,L]